.benefits {
    padding-top: 60px;
    padding-bottom: 80px;
}

.benefits__list {

}

.benefits__item {
    padding-top: 40px;
    grid-column: span 3;

    background-position: left top;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.benefits__item_next {
    background-image: url("../../images/benefits/01.svg");


}

.benefits__item_made {
    background-image: url("../../images/benefits/02.svg");
}

.benefits__item_prices {
    background-image: url("../../images/benefits/03.svg");
}

.benefits__item_packaging {
    background-image: url("../../images/benefits/04.svg");
}



.benefits__subtitle {
    margin: 0;
    margin-bottom: 8px;

    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: var(--dark-primary);

}

.benefits__description {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);

}