@media (max-width: 1280px) {
  .product-info__image img {
    width: 500px;
  }
}

@media (max-width: 1024.98px) {
  .header__bottom {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);

    transition: visibility 0.3s ease, transform 0.3s ease-in;
  }

  .header__bottom_active {
    visibility: visible;
    transform: none;
  }

  .header__bottom-container {
    justify-content: flex-start;
  }

  .nav {
    padding: 20px 40px;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__content {
    flex-direction: column;
  }

  .hero__image {
    display: none;
  }

  .benefits__list {
    row-gap: var(--gap);
  }

  .benefits__item {
    grid-column: span 6;
  }

  .products__item {
    grid-column: span 6;
  }

  .product__top {
    width: 100%;
  }

  .product__image {
    width: 100%;
  }

  .product__list {
    row-gap: var(--gap);
  }

  .footer__column {
    grid-column: span 6;
  }

  .footer__top {
    row-gap: var(--gap);
  }

  .footer__form {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .catalog__products {
    --elems: 2;
  }

  .product-info__content {
    flex-direction: column;
    gap: 40px;
  }

  .product-info__text {
    padding-top: 0;
  }

  .cart__content {
    padding: 40px;
  }

  .cart__row.cart__row_heading .cart__col_quantity {
    padding-left: 30px;
  }

  .cart__col_quantity {
    padding-left: 0;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 767.98px) {
  /*section, footer {*/
  /*  display: none;*/
  /*}*/

  :root {
    --container-offset: 24px;
    --gap: 16px;

  }

  /*
  .hero {
    display: block;

  }

  .benefits {
    display: block;
  }

  .products {
    display: block;
  }

  .newsletter {
    display: block;
  }

  .about {
    display: block;
  }
  */


  /* main css styles */

  /* media hero */

  .hero {
    padding: 0;
  }


  .header__list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 65px;
    row-gap: 44px;
    padding-top: 24px;
  }

  .header__top {
    padding: 25px 0;
  }

  .hero .container {
    padding: 0;
  }

  .hero__text {
    padding: 40px 24px 32px;
  }

  .hero__link {
    margin-top: 32px;
    order: 3;
  }

  .hero__title {
    margin-bottom: 80px;
  }

  .btn {
    width: 100%;
  }

  /* media benefits */

  .benefits {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .title {
    max-width: 274px;
  }

  .title_small {
    font-size: 20px;
    line-height: 140%;
  }

  .title_centered {
    text-align: left;
  }

  .title_mb-large {
    margin-bottom: 36px;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .benefits__item {
    grid-column: span 4;
  }

  .benefits__subtitle {
    font-size: 16px;

  }

  .benefits__description {
    font-size: 14px;
  }

  /* media products */

  .products {
    padding-top: 48px;
    padding-bottom: 48px;
  }


  .title_large {
    font-size: 20px;
  }

  .title_mb-small {
    margin-bottom: 20px;
  }

  .products__item {
    grid-column: span 2;
  }

  .product__image {
    height: 201px;
  }

  .products__list_mobile-slider {
    display: flex;
    width: calc(100% + var(--container-offset));
    overflow-x: auto;
  }

  .products__list_mobile-slider .products__item {
    width: 200px;
    flex-shrink: 0;

  }

  .products__list_mobile-slider .products__item_big {
    width: 200px;
    flex-shrink: 0;
  }

  /* media newsletter */
  .newsletter {
    padding: 0;
    background-color: var(--white);
  }

  .newsletter__content {
    padding: 48px 9px;
    align-items: flex-start;

  }

  .newsletter__title {
    font-size: 20px;
    max-width: none;
  }

  .newsletter__description {
    margin-bottom: 60px;
    font-size: 14px;
    text-align: left;
  }

  /* media footer */

  .form__input {
    width: auto;
  }

  .form__btn {
    padding: 16px 10px;
    width: auto;
    text-wrap: nowrap;
  }

  .about__content {
    flex-direction: column;
  }

  .about__info, .about__image {
    width: 100%;
  }

  .about__info {
    padding: 48px 24px 38px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__content {
    text-align: justify;
  }

  .about__btn {
    margin-top: 64px;
  }

  .about__image {
    width: 100%;
    height: 358px;


  }

  .footer {
    padding-top: 40px;
  }

  .footer__top {
    row-gap: 40px;
    padding-bottom: 16px;
  }

  .footer__column {
    grid-column: span 2;
  }

  .footer__column_big {
    grid-column: span 4;
    margin-top: 40px;
  }

  .footer__title {
    margin-bottom: 16px;
  }

  .footer__form {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }

  .footer__bottom {
    justify-content: center;
    padding: 20px 0;
  }

  .soc1als {
    display: none;
  }

  /* media about.html*/

  .notice {
    justify-content: flex-start;

  }

  .notice__text {
    max-width: 294px;
    width: 100%;
  }

  .about-hero__title {
    font-size: 32px;

  }

  .about-hero__content {
    padding: 32px 0;
  }

  .brand-info {
    padding: 32px 0;
  }

  .brand-info__content {
    flex-direction: column;
    gap: 24px;
  }

  .brand-info__text {
    padding: 36px 32px 30px;
    width: 100%;
    min-height: 281px;


  }

  .brand-info__title {
    font-size: 20px;
    line-height: 140%;
  }

  .brand-info__description {
    font-size: 14px;

  }



  .brand-info__image {
    width: 100%;

  }

  .brand-info__picture {
    height: 259px;
  }

  .about_reverse .about__content {
    flex-direction: column-reverse;
  }

  .about_reverse .about__info {
    padding: 32px 24px 62px;
  }

  .about__btn {
    margin-top: 48px;
  }

  .benefits_about .benefits__item {
    padding: 72px 24px 36px;
    background-position: 24px 36px;
  }



  .brand-info__content_visible {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    gap: 24px;
  }

}
